* {
  box-sizing: border-box; }

.no-grid .container {
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: hidden; }

.no-grid .row {
  width: calc(100% + 10px);
  margin-left: -5px; }
  .no-grid .row:after {
    display: table;
    clear: both;
    content: ''; }

.no-grid [class*='col-'] {
  float: left;
  width: 100%;
  min-height: 1px;
  margin: 0 5px; }

.no-grid .col-xs-12 {
  width: calc(100% - 10px); }

.no-grid .col-xs-11 {
  width: calc((100% / 12) * 11 - 10px); }

.no-grid .col-xs-10 {
  width: calc((100% / 12) * 10 - 10px); }

.no-grid .col-xs-9 {
  width: calc((100% / 12) * 9 - 10px); }

.no-grid .col-xs-8 {
  width: calc((100% / 12) * 8 - 10px); }

.no-grid .col-xs-7 {
  width: calc((100% / 12) * 7 - 10px); }

.no-grid .col-xs-6 {
  width: calc(100% / 2 - 10px); }

.no-grid .col-xs-5 {
  width: calc((100% / 12) * 5 - 10px); }

.no-grid .col-xs-4 {
  width: calc(100% / 3 - 10px); }

.no-grid .col-xs-3 {
  width: calc(100% / 4 - 10px); }

.no-grid .col-xs-2 {
  width: calc(100% / 6 - 10px); }

.no-grid .col-xs-1 {
  width: calc(100% / 12 - 10px); }

.no-grid .offset-xs-11 {
  margin-left: calc((100% / 12) * 11 + 5px); }

.no-grid .offset-xs-10 {
  margin-left: calc((100% / 12) * 10 + 5px); }

.no-grid .offset-xs-9 {
  margin-left: calc((100% / 12) * 9 + 5px); }

.no-grid .offset-xs-8 {
  margin-left: calc((100% / 12) * 8 + 5px); }

.no-grid .offset-xs-7 {
  margin-left: calc((100% / 12) * 7 + 5px); }

.no-grid .offset-xs-6 {
  margin-left: calc(100% / 2 + 5px); }

.no-grid .offset-xs-5 {
  margin-left: calc((100% / 12) * 5 + 5px); }

.no-grid .offset-xs-4 {
  margin-left: calc(100% / 3 + 5px); }

.no-grid .offset-xs-3 {
  margin-left: calc(100% / 4 + 5px); }

.no-grid .offset-xs-2 {
  margin-left: calc(100% / 6 + 5px); }

.no-grid .offset-xs-1 {
  margin-left: calc(100% / 12 + 5px); }

@media (min-width: 768px) {
  .no-grid {
    /* sm md lg */ }
    .no-grid .col-sm-12 {
      width: calc(100% - 10px); }
    .no-grid .col-sm-11 {
      width: calc((100% / 12) * 11 - 10px); }
    .no-grid .col-sm-10 {
      width: calc((100% / 12) * 10 - 10px); }
    .no-grid .col-sm-9 {
      width: calc((100% / 12) * 9 - 10px); }
    .no-grid .col-sm-8 {
      width: calc((100% / 12) * 8 - 10px); }
    .no-grid .col-sm-7 {
      width: calc((100% / 12) * 7 - 10px); }
    .no-grid .col-sm-6 {
      width: calc(100% / 2 - 10px); }
    .no-grid .col-sm-5 {
      width: calc((100% / 12) * 5 - 10px); }
    .no-grid .col-sm-4 {
      width: calc(100% / 3 - 10px); }
    .no-grid .col-sm-3 {
      width: calc(100% / 4 - 10px); }
    .no-grid .col-sm-2 {
      width: calc(100% / 6 - 10px); }
    .no-grid .col-sm-1 {
      width: calc(100% / 12 - 10px); }
    .no-grid .offset-sm-11 {
      margin-left: calc((100% / 12) * 11 + 5px); }
    .no-grid .offset-sm-10 {
      margin-left: calc((100% / 12) * 10 + 5px); }
    .no-grid .offset-sm-9 {
      margin-left: calc((100% / 12) * 9 + 5px); }
    .no-grid .offset-sm-8 {
      margin-left: calc((100% / 12) * 8 + 5px); }
    .no-grid .offset-sm-7 {
      margin-left: calc((100% / 12) * 7 + 5px); }
    .no-grid .offset-sm-6 {
      margin-left: calc(100% / 2 + 5px); }
    .no-grid .offset-sm-5 {
      margin-left: calc((100% / 12) * 5 + 5px); }
    .no-grid .offset-sm-4 {
      margin-left: calc(100% / 3 + 5px); }
    .no-grid .offset-sm-3 {
      margin-left: calc(100% / 4 + 5px); }
    .no-grid .offset-sm-2 {
      margin-left: calc(100% / 6 + 5px); }
    .no-grid .offset-sm-1 {
      margin-left: calc(100% / 12 + 5px); } }

@media (min-width: 992px) {
  .no-grid {
    /* md and lg */ }
    .no-grid .col-md-12 {
      width: calc(100% - 10px); }
    .no-grid .col-md-11 {
      width: calc((100% / 12) * 11 - 10px); }
    .no-grid .col-md-10 {
      width: calc((100% / 12) * 10 - 10px); }
    .no-grid .col-md-9 {
      width: calc((100% / 12) * 9 - 10px); }
    .no-grid .col-md-8 {
      width: calc((100% / 12) * 8 - 10px); }
    .no-grid .col-md-7 {
      width: calc((100% / 12) * 7 - 10px); }
    .no-grid .col-md-6 {
      width: calc(100% / 2 - 10px); }
    .no-grid .col-md-5 {
      width: calc((100% / 12) * 5 - 10px); }
    .no-grid .col-md-4 {
      width: calc(100% / 3 - 10px); }
    .no-grid .col-md-3 {
      width: calc(100% / 4 - 10px); }
    .no-grid .col-md-2 {
      width: calc(100% / 6 - 10px); }
    .no-grid .col-md-1 {
      width: calc(100% / 12 - 10px); }
    .no-grid .offset-md-11 {
      margin-left: calc((100% / 12) * 11 + 5px); }
    .no-grid .offset-md-10 {
      margin-left: calc((100% / 12) * 10 + 5px); }
    .no-grid .offset-md-9 {
      margin-left: calc((100% / 12) * 9 + 5px); }
    .no-grid .offset-md-8 {
      margin-left: calc((100% / 12) * 8 + 5px); }
    .no-grid .offset-md-7 {
      margin-left: calc((100% / 12) * 7 + 5px); }
    .no-grid .offset-md-6 {
      margin-left: calc(100% / 2 + 5px); }
    .no-grid .offset-md-5 {
      margin-left: calc((100% / 12) * 5 + 5px); }
    .no-grid .offset-md-4 {
      margin-left: calc(100% / 3 + 5px); }
    .no-grid .offset-md-3 {
      margin-left: calc(100% / 4 + 5px); }
    .no-grid .offset-md-2 {
      margin-left: calc(100% / 6 + 5px); }
    .no-grid .offset-md-1 {
      margin-left: calc(100% / 12 + 5px); } }

@media (min-width: 1200px) {
  .no-grid {
    /* lg */ }
    .no-grid .col-lg-12 {
      width: calc(100% - 10px); }
    .no-grid .col-lg-11 {
      width: calc((100% / 12) * 11 - 10px); }
    .no-grid .col-lg-10 {
      width: calc((100% / 12) * 10 - 10px); }
    .no-grid .col-lg-9 {
      width: calc((100% / 12) * 9 - 10px); }
    .no-grid .col-lg-8 {
      width: calc((100% / 12) * 8 - 10px); }
    .no-grid .col-lg-7 {
      width: calc((100% / 12) * 7 - 10px); }
    .no-grid .col-lg-6 {
      width: calc(100% / 2 - 10px); }
    .no-grid .col-lg-5 {
      width: calc((100% / 12) * 5 - 10px); }
    .no-grid .col-lg-4 {
      width: calc(100% / 3 - 10px); }
    .no-grid .col-lg-3 {
      width: calc(100% / 4 - 10px); }
    .no-grid .col-lg-2 {
      width: calc(100% / 6 - 10px); }
    .no-grid .col-lg-1 {
      width: calc(100% / 12 - 10px); }
    .no-grid .offset-lg-11 {
      margin-left: calc((100% / 12) * 11 + 5px); }
    .no-grid .offset-lg-10 {
      margin-left: calc((100% / 12) * 10 + 5px); }
    .no-grid .offset-lg-9 {
      margin-left: calc((100% / 12) * 9 + 5px); }
    .no-grid .offset-lg-8 {
      margin-left: calc((100% / 12) * 8 + 5px); }
    .no-grid .offset-lg-7 {
      margin-left: calc((100% / 12) * 7 + 5px); }
    .no-grid .offset-lg-6 {
      margin-left: calc(100% / 2 + 5px); }
    .no-grid .offset-lg-5 {
      margin-left: calc((100% / 12) * 5 + 5px); }
    .no-grid .offset-lg-4 {
      margin-left: calc(100% / 3 + 5px); }
    .no-grid .offset-lg-3 {
      margin-left: calc(100% / 4 + 5px); }
    .no-grid .offset-lg-2 {
      margin-left: calc(100% / 6 + 5px); }
    .no-grid .offset-lg-1 {
      margin-left: calc(100% / 12 + 5px); } }

.grid .row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1400px;
  margin: 0 auto;
  grid-column-gap: 10px; }

.grid [class*='col-'] {
  grid-column-end: span 12; }

.grid .col-xs-12 {
  grid-column-end: span 12; }

.grid .col-xs-11 {
  grid-column-end: span 11; }

.grid .col-xs-10 {
  grid-column-end: span 10; }

.grid .col-xs-9 {
  grid-column-end: span 9; }

.grid .col-xs-8 {
  grid-column-end: span 8; }

.grid .col-xs-7 {
  grid-column-end: span 7; }

.grid .col-xs-6 {
  grid-column-end: span 6; }

.grid .col-xs-5 {
  grid-column-end: span 5; }

.grid .col-xs-4 {
  grid-column-end: span 4; }

.grid .col-xs-3 {
  grid-column-end: span 3; }

.grid .col-xs-2 {
  grid-column-end: span 2; }

.grid .col-xs-1 {
  grid-column-end: span 1; }

.grid .offset-xs-11 {
  grid-column-start: 12; }

.grid .offset-xs-10 {
  grid-column-start: 11; }

.grid .offset-xs-9 {
  grid-column-start: 10; }

.grid .offset-xs-8 {
  grid-column-start: 9; }

.grid .offset-xs-7 {
  grid-column-start: 8; }

.grid .offset-xs-6 {
  grid-column-start: 7; }

.grid .offset-xs-5 {
  grid-column-start: 6; }

.grid .offset-xs-4 {
  grid-column-start: 5; }

.grid .offset-xs-3 {
  grid-column-start: 4; }

.grid .offset-xs-2 {
  grid-column-start: 3; }

.grid .offset-xs-1 {
  grid-column-start: 2; }

@media (min-width: 768px) {
  .grid {
    /* sm md lg */ }
    .grid .col-sm-12 {
      grid-column-end: span 12; }
    .grid .col-sm-11 {
      grid-column-end: span 11; }
    .grid .col-sm-10 {
      grid-column-end: span 10; }
    .grid .col-sm-9 {
      grid-column-end: span 9; }
    .grid .col-sm-8 {
      grid-column-end: span 8; }
    .grid .col-sm-7 {
      grid-column-end: span 7; }
    .grid .col-sm-6 {
      grid-column-end: span 6; }
    .grid .col-sm-5 {
      grid-column-end: span 5; }
    .grid .col-sm-4 {
      grid-column-end: span 4; }
    .grid .col-sm-3 {
      grid-column-end: span 3; }
    .grid .col-sm-2 {
      grid-column-end: span 2; }
    .grid .col-sm-1 {
      grid-column-end: span 1; }
    .grid .offset-sm-11 {
      grid-column-start: 12; }
    .grid .offset-sm-10 {
      grid-column-start: 11; }
    .grid .offset-sm-9 {
      grid-column-start: 10; }
    .grid .offset-sm-8 {
      grid-column-start: 9; }
    .grid .offset-sm-7 {
      grid-column-start: 8; }
    .grid .offset-sm-6 {
      grid-column-start: 7; }
    .grid .offset-sm-5 {
      grid-column-start: 6; }
    .grid .offset-sm-4 {
      grid-column-start: 5; }
    .grid .offset-sm-3 {
      grid-column-start: 4; }
    .grid .offset-sm-2 {
      grid-column-start: 3; }
    .grid .offset-sm-1 {
      grid-column-start: 2; } }

@media (min-width: 992px) {
  .grid {
    /* md and lg */ }
    .grid .col-md-12 {
      grid-column-end: span 12; }
    .grid .col-md-11 {
      grid-column-end: span 11; }
    .grid .col-md-10 {
      grid-column-end: span 10; }
    .grid .col-md-9 {
      grid-column-end: span 9; }
    .grid .col-md-8 {
      grid-column-end: span 8; }
    .grid .col-md-7 {
      grid-column-end: span 7; }
    .grid .col-md-6 {
      grid-column-end: span 6; }
    .grid .col-md-5 {
      grid-column-end: span 5; }
    .grid .col-md-4 {
      grid-column-end: span 4; }
    .grid .col-md-3 {
      grid-column-end: span 3; }
    .grid .col-md-2 {
      grid-column-end: span 2; }
    .grid .col-md-1 {
      grid-column-end: span 1; }
    .grid .offset-md-11 {
      grid-column-start: 12; }
    .grid .offset-md-10 {
      grid-column-start: 11; }
    .grid .offset-md-9 {
      grid-column-start: 10; }
    .grid .offset-md-8 {
      grid-column-start: 9; }
    .grid .offset-md-7 {
      grid-column-start: 8; }
    .grid .offset-md-6 {
      grid-column-start: 7; }
    .grid .offset-md-5 {
      grid-column-start: 6; }
    .grid .offset-md-4 {
      grid-column-start: 5; }
    .grid .offset-md-3 {
      grid-column-start: 4; }
    .grid .offset-md-2 {
      grid-column-start: 3; }
    .grid .offset-md-1 {
      grid-column-start: 2; } }

@media (min-width: 1200px) {
  .grid {
    /* lg */ }
    .grid .col-lg-12 {
      grid-column-end: span 12; }
    .grid .col-lg-11 {
      grid-column-end: span 11; }
    .grid .col-lg-10 {
      grid-column-end: span 10; }
    .grid .col-lg-9 {
      grid-column-end: span 9; }
    .grid .col-lg-8 {
      grid-column-end: span 8; }
    .grid .col-lg-7 {
      grid-column-end: span 7; }
    .grid .col-lg-6 {
      grid-column-end: span 6; }
    .grid .col-lg-5 {
      grid-column-end: span 5; }
    .grid .col-lg-4 {
      grid-column-end: span 4; }
    .grid .col-lg-3 {
      grid-column-end: span 3; }
    .grid .col-lg-2 {
      grid-column-end: span 2; }
    .grid .col-lg-1 {
      grid-column-end: span 1; }
    .grid .offset-lg-11 {
      grid-column-start: 12; }
    .grid .offset-lg-10 {
      grid-column-start: 11; }
    .grid .offset-lg-9 {
      grid-column-start: 10; }
    .grid .offset-lg-8 {
      grid-column-start: 9; }
    .grid .offset-lg-7 {
      grid-column-start: 8; }
    .grid .offset-lg-6 {
      grid-column-start: 7; }
    .grid .offset-lg-5 {
      grid-column-start: 6; }
    .grid .offset-lg-4 {
      grid-column-start: 5; }
    .grid .offset-lg-3 {
      grid-column-start: 4; }
    .grid .offset-lg-2 {
      grid-column-start: 3; }
    .grid .offset-lg-1 {
      grid-column-start: 2; } }
